<div *ngIf="displayForm" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
        <h3 class="text-3xl font-semibold">
	  Reminders on {{reminderId | date}}
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="showFormToggle()">
          <span class="bg-transparent text-black opacity-9 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <div class="relative p-6 flex-auto">
	<div class="bg-red-600 text-white rounded px-5 py-2 w-full" *ngIf="!hasTime">Has a colition time, please change date</div>
	<table class="w-full mt-2">
	  <tr *ngFor="let reminder of reminders" class="w-full flex flex-row">
	    <td class="w-2/5 flex flex-row">{{reminder.remind}}</td>
	    <td class="w-2/5 flex flex-row">{{reminder.datetimeFrom | date: 'HH:mm'}} - {{reminder.datetimeTo | date: 'HH:mm'}}</td>
	    <td class="w-1/5 right-1 text-indigo-900 flex flex-col">
	      <a href="#" (click)="removeReminder(reminder)" class="flex flex-row">
		<span class="iconify" data-icon="mdi:close"></span>
	      </a>
      	      <a href="#" (click)="edit(reminder)" class="flex flex-row">
		<span class="iconify" data-icon="mdi:edit"></span>
	      </a>
	    </td>
	  </tr>
	</table>
	<form class="relative py-3 sm:max-w-xl" [formGroup]="formBuilder">
	  <div class="text-2l font-light flex flex-row justify-between">
	    <input type="text" name="reminder" placeholder="reminder" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none rounded-md"
		   formControlName="remind" maxlength="30"/>
	    <select class="appearance-none rounded pl-2 pr-7 py-2 border mt-2 ml-2" formControlName="color">
              <option value="null" class="py-3" disabled>select color</option>
              <option class="py-3" *ngFor="let colour of colors" [ngValue]="colour">{{colour}}</option>
	    </select>
	  </div>
	  <div class="text-2l font-light flex flex-row justify-between">
	    <label class="text-3l font-semibold mx-2 mt-4">between: </label>
	    <input type="time" name="time" class="appearance-none rounded pl-2 pr-2 py-2 w-full border mt-2 ml-2" formControlName="from" />
	    <label class="text-3l font-semibold mx-2 mt-4">to: </label>
	    <input type="time" name="time" class="appearance-none rounded pl-2 pr-2 py-2 w-full border mt-2 ml-2" formControlName="to" />
	  </div>
	</form>
      </div>
      <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
	<button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 disabled:opacity-50"
		type="button" style="transition: all .15s ease" *ngIf="reminders.length > 0" (click)="removeAllReminder()">
          Delete All
        </button>
        <button class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 disabled:opacity-50"
		type="button" style="transition: all .15s ease" (click)="reminderAction()" [disabled]="formBuilder.invalid">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="displayForm" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
