<h1>
  <div class="w-full flex flex-row">
    <a class="w-1/3" href="#" (click)="prevMonth()"><</a>
    <span class="w-1/3 text-center">{{monthNames[month]}}</span>
    <div class="w-1/3 text-right">
      <a  href="#" (click)="nextMonth()">></a>      
    </div>
  </div>
</h1>
<div class="week-name flex flex-row">
  <div class="day w-1/7 mr-2" *ngFor="let dayName of days">{{dayName}}</div>
</div>
<div class="week flex flex-row" *ngFor="let week of weeks" >
  <app-day *ngFor="let day of week.days; let i = index" (click)="actionReminder(day.id)"
	   [day]="day.day" [id]="day.id" class="day w-1/7"
	   [ngClass]="{'holyday': i == 0 || i == 6, 'end': i == 6 }">
  </app-day>
</div>
